*{
    overflow: auto;
}
body{
    background-color:#8BA1BB;
    font-family: Arial, Helvetica, sans-serif;
}
div.center{
    text-align: center;
}
div.category{
    margin-bottom: -20px;
}
p#category{
    background-color:black;
    color: white;
    display: inline-block;
    margin-left: 30px;
    margin-top: -20px;
    margin-bottom: 0px;
    padding: 8px 20px;
    font-weight: bold;
    font-size: 16px;
    overflow: visible;
    
}

div.content{
    background-color: white;
    margin:0px 10% 80px 10%;
    padding:0px;
    min-width: 350px;
    box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.15);
    margin-top: 30px;
}
h1{
    text-align: center;
}
p.description{
    text-align: center;
    max-width: 400px;
    display: inline-block;
    font-size: 14px;
}
div.description{
    text-align: center;
    
}
div.line{
    width: 50px;
    height: 2px;
    background-color: gray;
    margin-left:auto;
    margin-right:auto;
}
.center{
    text-align: center;
    width: 100%;
    display: block;
}
.parent{
    position: relative;
}
.child{
    position: absolute;
    bottom: 0px;
    width: 100%;
    color:white;
    background-color: #6c829d;
    height: 40px;
    opacity: 0.5;
    text-align: center;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
table.child td{
    text-align: center;
    vertical-align: top;
}
table.child th{
    vertical-align: bottom;
    padding: 8px;
}
img.info{
    max-height: 400px;
    min-height: 200px;
    background-color: gray;
    object-fit: cover;
}
div.colum{
    width: 45%;
    margin-top: 10px;
}
div.colum h2{
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    border-bottom: 5px solid black;
    padding-bottom: 5px;
}
div.colum1{

    display: inline-block;
    margin-right: 10%;


}

div.colum2{
    float: right;

}
div.ingredients p{
    text-align: center;
    font-size: 14px;
    border: 1px solid lightgray;
    padding:8px 0;
    margin-top: 1px;
    margin-bottom: 0px;
}
table.instructions p.number{
    background-color: #6c829d;
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    width: 25px;
    height:25px;
    padding-top: 4px;
    box-sizing: border-box;
    border-radius: 50%;
    margin: 0;

}
table.instructions td.step{
    font-size: 14px;
    padding-left: 10px;
    padding-bottom: 10px;
}
table.instructions td{
    vertical-align: center;
}
table.instructions tr{
    height: 40px;
}
