*{
    overflow: auto;
}
body{ /*背景颜色，跟字体*/
    background-color:#8BA1BB;
    font-family: Arial, Helvetica, sans-serif;
}
div.content{/*主体内容部分*/
    background-color: white;
    margin:40px 8px 40px 8px;
    padding:0px 8px 20px 8px;
    /* min-width: 350px; */
    box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.15);
    margin-top: 30px;
    overflow: visible;
}
div.center{
    text-align: center;
}
div.category{
    margin-bottom: -20px;/* 上面div跟下面div的间距设置*/
}
p#category{ /*p标签的内容*/
    background-color:black;
    color: white;
    display: inline-block;
    margin-left: 30px;
    margin-top: -20px;
    margin-bottom: 0px;
    padding: 8px 20px;
    font-weight: bold;
    font-size: 16px;
    overflow: visible;
    
}
h1{/*块结构，只需将文字进行居中就可以了*/
    text-align: center;
}
div.line{/*线的部分要让他居中放置，它本身就是块结构，那么这些块结构中的块结构，在没有脱离文档流的基础上，要进行排版居中，可以使用margin：0 auto 或者margin-left:atuo, margin-right:auto*/
    width: 50px;
    height: 2px;
    background-color: gray;
    /* margin-left:auto;
    margin-right:auto; */
    margin:0 auto;
}
p.description{/*大块包含小块，所以要进行inline-block的设置，外面是div 里面是p的结构*/
    text-align: center;
    max-width: 400px;
    display: inline-block;
    font-size: 14px;
}
div.description{
    text-align: center;
    
}
.center{
    text-align: center;
    width: 100%;
    display: block;
}
.parent{
    position: relative;
}
.child{/*在图片的上面，就表示子绝父相的方式，位置是向下，宽度最大*/
    position: absolute;
    bottom: 0px;
    width: 100%;
    color:white;
    background-color: #6c829d;
    height: 50px;
    opacity: 0.5;
    text-align: center;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
table.child th{/*设置标题的上下对齐方式*/
    vertical-align: bottom;
    padding: px;
}
table.child td{
    text-align: center;
    vertical-align: top;/*表示的含义是根据内容进行对其，是内容上下对齐*/
}
img.info{/*设置图片的大小尺寸，其中使用object-fit表示图片缩放按照比例进行*/
    max-height: 400px;
    min-height: 200px;
    background-color: gray;
    object-fit: cover;
}
div.colum{ /*设置公共部分，两个宽度以及他们的顶部大小*/
    width: 100%;
    margin-top: 10px;
}
div.colum h2{/*设置标题图形大小颜色，大小写*/
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    border-bottom: 5px solid black;
    padding-bottom: 5px;
}
div.colum1{/*设置他为内联块结构，那么他就可以按照行的情况来制作了*/
    display: inline-block;
    /* margin-right: 10%; */
}
div.colum2{/*产生浮动，就是脱离元文档流，防止在右边了*/
    /* float: right; */
}
div.ingredients p{/*设置其中元素的属性情况*/
    text-align: center;
    font-size: 14px;
    border: 1px solid lightgray;
    padding:8px 0;
    margin-top: 1px;
    margin-bottom: 0px;
}
table.instructions p.number{/*设置数字的的情况*/
    background-color: #6c829d;
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    width: 25px;
    height:25px;
    padding-top: 4px;
    box-sizing: border-box;/*说明到底是什么盒子模型，是w3c的宽度在里面呢，还是ie中的宽度+padding的大小才是正整体宽度大小*/
    border-radius: 50%;
    margin: 0;

}
table.instructions td.step{
    font-size: 14px;
    padding-left: 10px;
    padding-bottom: 10px;
}
table.instructions td{/*数据栏目：对齐方式，上线基线*/
    vertical-align: center;
}
table.instructions tr{
    height: 40px;
}
/* desktop styles*/
@media only screen and (min-width: 768px) {
    div.content{/*主体内容部分*/
        margin:0px 10% 80px 10%;
        padding:0px;
        min-width: 350px;
    }

}
@media only screen and (min-width: 768px){
.child{/*在图片的上面，就表示子绝父相的方式，位置是向下，宽度最大*/
    height: 40px;
}
table.child th{/*设置标题的上下对齐方式*/
    padding: 8px;
}
table.child td{
    vertical-align: top;/*表示的含义是根据内容进行对其，是内容上下对齐*/
}
div.colum{ /*设置公共部分，两个宽度以及他们的顶部大小*/
    width: 45%;

}
div.colum1{/*设置他为内联块结构，那么他就可以按照行的情况来制作了*/
    margin-right: 10%;
}
div.colum2{/*产生浮动，就是脱离元文档流，防止在右边了*/
    float: right;
}
}

@media only screen and (min-width: 900px){
    div.content{/*主体内容部分*/
        margin-left:auto;
        margin-right:auto;
        width: 650px;
    }

}
